*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    padding: 15% 40%;
    gap: 1%;
}

#firstInput{
    color: darkred;
}
#lastInput{
    color: darkred;
}

#submitted{
    color: olivedrab;
}